# Exclude large source file
/data

# Exclude files related to jupyter notebooks - the main notebook will be stored in the root directory.
*.ipynb_checkpoints
/notebooks

/.vs

# Ignore large numpy files
*.npy

# Ignore pycache files
/utils/__pycache__/
__pycache__/
*.py[cod]
*pyc