# gensim==3.8.3
# imbalanced_learn==0.7.0
# imblearn==0.0
# matplotlib==3.6.3
# nltk==3.8.1
numpy==1.23.5
pandas==1.5.3
Pillow==9.5.0
scikit_learn==1.2.2
# scipy==1.5.4
# seaborn==0.12.2
# tqdm==4.64.1
# xgboost==1.7.3
